# Project

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr
*.eml
out/

# Gradle
.gradle/
build/
lib/

# MacOS
.DS_Store
/bin/

configsBackup/
*.log
/.pydevproject

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class